<?php
if(has_category() ) {
	$cats =get_the_category();
	$catkwds = array();
	foreach($cats as $cat){
		$catkwds[] = $cat->term_id;
	}
}
$args = array(
	'post_type' => 'work',
	'posts_per_page' => '3',
	'post__not_in' =>array( $post->ID ),
	'category__in' => $catkwds,
	'orderby' => 'rand'
);
$my_query = new WP_Query( $args );
while ( $my_query->have_posts() ) : $my_query->the_post(); ?>

				<li class="c-box3-list__item" data-scroll="toggle(.c-fadein, .c-fadeout) once">
					<a href="<?php the_permalink(); ?>">
						<div class="c-box3-list__image c-work-list__image">
							<img class="c-box3-list__image" src="<?php
//フィールド名「image_test」のフルサイズ画像の情報を取得
$image = wp_get_attachment_image_src(get_field('photo_main'), 'full');
if( !empty($image) ) { //画像があれば表示
     echo $image[0];
 } else {
 	echo "{$url}/common/img/work/img_work03_01.jpg";
 }
?>" alt="">
						</div>
						<h3 class="c-box3-list__title">
						<?php
						if(mb_strlen(post_custom(works_title))>30) {
							$title= mb_substr(post_custom(works_title),0,30);
							echo $title. ･･･ ;
						} else { echo post_custom(works_title); }
						?>
						</h3>
					</a>
				</li>

<?php
endwhile;
wp_reset_postdata();
?>