<?php
if(has_category() ) {
	$cats =get_the_category();
	$catkwds = array();
	foreach($cats as $cat){
		$catkwds[] = $cat->term_id;
	}
}
$args = array(
	'post_type' => '',
	'posts_per_page' => '4',
	'post__not_in' =>array( $post->ID ),
	'category__in' => $catkwds,
	'orderby' => 'rand'
);
$my_query = new WP_Query( $args );
while ( $my_query->have_posts() ) : $my_query->the_post(); ?>

<a class="c-news-item" href="<?php the_permalink(); ?>">
	<article class="c-news-item-wrap">
		<span class="c-news-date"><?php the_time('Y.m.d'); ?></span>
		<span class="c-news-category"><?php
$cat = get_the_category();
$cat = $cat[0];
echo get_cat_name($cat->term_id);
?></span>
		<h3 class="c-news-title"><?php the_title(); ?></h3>
		<div class="c-news-btn c-btn-arrow"><div class="c-btn-arrow-wrap"></div></div>
	</article>
</a>

<?php
endwhile;
wp_reset_postdata();
?>