/*reset and base
---------------------------------------*/
* {
margin: 0px;
padding: 0px;
vertical-align: baseline;
color:#323232;
}
a:link {
color: #B40000;
}
a:visited {
color: #420000;
}
a:hover {
color: #F00;
}
a:active {
color: #B40000;
}
li, ul {
list-style-type: none;
padding: 0px;
text-indent: 0;
margin: 0px;
text-align: left;
}
img {
text-decoration: none;
border: none;
}
h1 {
padding-bottom: 1em;
}
.top_point img:hover {
filter:alpha(opacity=80);
opacity:0.8;
}
p {
margin-bottom: 10px;
}
.flol {
float: left;
}
.padr10 {
padding-right: 10px;
}
.pagetop {
background-color: #1E140A;
float: right;
background-image: url(../img/pagetop.gif);
background-repeat: no-repeat;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 16px;
background-position: 6px 10px;
border-radius:3px;
clear: both;
}
.pagetop a {
color:#ffffff;
text-decoration: none;
font-size: 0.9em;
font-weight: bold;
}
.rightimg {
float: right;
margin-left: 10px;
margin-bottom: 10px;
}
.rightimg img {
margin-bottom:10px;
}
.bld {
font-weight: bold;
}


table {
font-size: 100%;
border-collapse: collapse;
border-spacing: 0;
}
.none {
display: none;
}
.clear {
clear: both;
}
.clearfix {
display: block;
height: 0;
font-size:0;
clear: both;
visibility:hidden;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block;
margin:0;
padding:0;
}
body {
text-align: center;
font-size: 12px;
line-height: 1.4em;
background-image: url(../img/body_back.gif);
background-repeat: repeat-x;
background-color: #1E140A;
}
/*body
---------------------------------------*/
header {
text-align: left;
background-image: url(../img/header_line.gif);
background-repeat: repeat-x;
padding-top: 5px;
}
.header_in {
width:930px;
position: relative;
height: 83px;
margin-top: 0;
margin-right: auto;
margin-bottom: 0;
margin-left: auto;
padding-top: 0;
padding-right: 0px;
padding-bottom: 0;
padding-left: 0px;
}
hgroup {
position: absolute;
left: 0px;
top: 12px;
}
.header_address {
background-image: url(../img/header.png);
background-repeat: no-repeat;
height: 78px;
width: 475px;
background-position: right 0px;
display: block;
float: right;
}
.header_address a {
display: block;
height: 78px;
width: 475px;
float: right;
}
.header_address:hover {
background-position :right -78px;
height: 78px;
}
.globalnav {
clear:both;
height: 50px;
width: 930px;
margin:0 auto;
overflow: hidden;
}
.globalnav ul li a, .globalnav ul li {
height: 50px;
width: 155px;
display:block;
background-image: url(../img/g_nav.png);
background-repeat: no-repeat;
float: left;
}
.glnavhome a {
background-position: 0px 0px;
}
.glnavservice a {
background-position: -155px 0px;
}
.glnavcase a {
background-position: -310px 0px;
}
.glnavfaq a {
background-position: -465px 0px;
}
.glnavprofile a {
background-position: -620px 0px;
}
.glnavconsult a {
background-position: -775px 0px;
}
/*hover*/
.glnavhome a:hover {
background-position: 0px -50px;
}
.glnavservice a:hover,
.service_page .glnavservice a {
background-position: -155px -50px;
}
.glnavcase a:hover,
.case_page .glnavcase a {
background-position: -310px -50px;
}
.glnavfaq a:hover,
.faq_page .glnavfaq a {
background-position: -465px -50px;
}
.glnavprofile a:hover,
.profile_page .glnavprofile a {
background-position: -620px -50px;
}
.glnavconsult a:hover,
.consult_page .glnavconsult a {
background-position: -775px -50px;
}
/*active*/
.glnavhome a:active {
background-position: 0px -100px;
}
.glnavservice a:active {
background-position: -155px -100px;
}
.glnavcase a:active {
background-position: -310px -100px;
}
.glnavfaq a:active {
background-position: -465px -100px;
}
.glnavprofile a:active {
background-position: -620px -100px;
}
.glnavconsult a:active {
background-position: -775px -100px;
}
#topvisual {
background-image: url(../img/topvisual.png);
background-repeat: no-repeat;
height: 268px;
width: 960px;
margin:0 auto;
}
#container {
background-image: url(../img/main_back.png);
width: 940px;
min-height:350px;
background-repeat: no-repeat;
margin-top: 0;
margin-right: auto;
margin-bottom: 0;
margin-left: auto;
text-align: left;
position:relative;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 30px;
padding-left: 10px;
}
#container img {
border: 1px solid #ffffff;
}
.main {
float: right;
width: 733px;
padding-top: 5px;
padding-right: 5px;
position:relative;
text-align: left;
}
.top_content {
padding: 0px;
}
.top_information  {
width: 568px;
border: 1px solid #ffffff;
background-image: url(../img/top_information_title.png);
background-repeat: no-repeat;
background-position: center top;
padding-top: 45px;
clear: both;
background-color: #ece8e4;
margin-bottom: 10px;
}
.top_information dl {
padding-left:15px;
padding-right:15px;
font-weight: bold;
}
.top_information dt {
clear:left;
float:left;
width:80px;
}
.top_information dd {
padding-bottom:10px;
border-bottom:1px dotted #1E140A;
margin-bottom:10px;
color: #B40000;
}
.top_point {
background-image: url(../img/top_point_back.png);
height: 206px;
width: 568px;
border: 1px solid #FFF;
margin-bottom: 15px;
background-repeat: no-repeat;
padding-top: 90px;
}
.top_point ul {
/* [disabled]padding-top: 90px; */
padding-left: 5px;
}
.top_point ul li {
float: left;
padding-bottom: 0px;
padding-left: 5px;
height: 98px;
width: 180px;
}
#container .top_point ul li img {
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
}
.main .top_content {
float: left;
width: 570px;
}
.sub_content {
background-color: #FFF;
padding: 1px;
}
.sub_content .page_post {
border: 1px solid #000;
background-color: #ece8e4;
}


/*トップ右カラム*/
.main .top_rightculum {
float: right;
width: 150px;
padding: 0px;
}
.top_rightculum h3 {
padding-bottom: 6px;
}
.top_jirei li {
padding-bottom: 10px;
}
/*左サイドバー
---------------------------------------*/
aside {
float: left;
width: 185px;
padding-top: 5px;
padding-left: 5px;
}
.sidenav {
width: 178px;
border: 1px solid #ffffff;
background-color: #ffffff;
/* [disabled]padding: 1px; */
margin-bottom: 15px;
}
.sidenav div {
background-image: url(../img/menu_title.png);
width: 176px;
padding-top: 50px;
background-repeat: no-repeat;
padding-bottom: 10px;
border: 1px solid #000;
background-color: #ece8e4;
}
.sidenav div li {
background-image: url(../img/arrow.gif);
background-repeat: no-repeat;
padding-left: 12px;
padding-left: 12px;
padding-bottom: 15px;
background-position: 0px 4px;
}
.sidenav div ul {
padding-left: 8px;
}
.sidenav div li a {
color: #B40000;
font-weight: bold;
text-decoration: none;
}
.side_address {
background-image: url(../img/side_address.png);
height: 133px;
width: 178px;
border: 1px solid #ffffff;
}
/*フッター
---------------------------------------*/
footer {
border-top-width: 2px;
border-top-style: solid;
border-top-color: #E6B432;
width: 100%;
}
.footer_in {
width: 940px;
margin-right: auto;
margin-left: auto;
text-align: left;
padding-bottom: 20px;
padding-top: 15px;
}
.footer_in p ,.footer_in p a {
text-decoration:none;
color: #FFF;
}
.post {
padding-top: 5px;
padding-right: 15px;
padding-bottom: 5px;
padding-left: 15px;
line-height: 1.6em;
}
.page_title {
background-image: url(../img/title_back.png);
background-repeat: no-repeat;
font-size: 1.3em;
color: #311800;
padding-top: 10px;
padding-left: 18px;
height: 24px;
text-shadow:1px 0.5px 1px #aaa;
font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}
/*各ページ装飾
---------------------------------------*/
#container .catch img {
border:none;

}
.page_post .post strong {
color: #7E100F;
text-shadow:1px 1px 2px #ffffff;
}
.page_post .post .bigfont {
font-size:1.6em;
line-height: 1.7em;
font-weight: bold;
}
.page_post .post .small {
font-size:0.9em;

}
.page_post .post h3 {
padding-bottom: 8px;
padding-left: 8px;
font-size: 1.5em;
padding-top: 8px;
margin-bottom: 10px;
margin-top: 15px;
background-image: url(../img/midashi_border01.gif);
background-repeat: repeat;
color: #FFF;
background-position: 0px 0px;
clear: both;

}
.page_post .post h4  {
font-size: 1.3em;
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #1E140A;
padding-top: 8px;
margin-bottom: 3px;
padding-bottom: 4px;
width: 100%;
color: #7E100F;
text-shadow:2px 2px 5px #333333;
}
.page_post .post.case h3 {
background-image: url(../img/case_midashi.png);
background-repeat: repeat-x;
color: #4B341F;
font-weight: bold;
border-left-width: 3px;
border-left-style: solid;
border-left-color: #FFF;
padding-top: 5px;
padding-bottom: 5px;
}


.page_post .post li {
padding-left: 15px;
}
.page_post .post .osusume {
background-image: url(../img/osusume.png);
background-repeat: no-repeat;
padding-top: 48px;
padding-right: 15px;
padding-left: 15px;
}
.page_post .post .kaiketsu {
background-image: url(../img/kaiketsu.png);
background-repeat: no-repeat;
padding-top: 48px;
padding-right: 15px;
padding-left: 15px;
margin-top: 18px;
font-size: 1.2em;
line-height: 1.6em;
font-weight: bold;
}
.page_post .post .point_box li {
background-image: url(../img/pointbox2.png);
background-repeat: no-repeat;
height: 47px;
width: 206px;
float: left;
padding-top: 25px;
font-weight: bold;
padding-left: 0px;
text-align: center;
margin-left: 17px;
font-size: 1.6em;
margin-bottom: 20px;
vertical-align: text-bottom;
color: #FFF;
}
.page_post .post .flow ol li {
background-image: url(../img/flow_right.png);
background-repeat: no-repeat;
height: 47px;
width: 110px;
float: left;
text-align: center;
padding-right: 25px;
padding-top: 15px;
font-size: 1.15em;
font-weight: bold;
margin-bottom: 10px;
padding-left: 15px;
margin-left: 15px;
}
.page_post .post .summary {
background-image: url(../img/summary.png);
background-repeat: no-repeat;
padding-top: 70px;
padding-left: 50px;
}
.summary table li {
background-image: url(../img/point.gif);
background-repeat: no-repeat;
margin-left: 5px;
background-position: 0px 4px;
}

.page_post .post th {
text-align: right;
padding: 5px;
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #1E140A;
border-right-width: 1px;
border-right-style: dotted;
border-right-color: #FFF;
}
.page_post .post table {
display: block;
float: left;
margin: 10px;
}

.page_post .post td {
border-bottom-width: 1px;
border-bottom-style: dotted;
border-bottom-color: #1E140A;
padding: 5px;
}
.page_post .post dl dt {
font-weight: bold;
font-size: 1.3em;
line-height: 1.6em;
}
.page_post .post dl dd {
padding-bottom: 1em;
font-size: 1.3em;
}
.page_post .post dl {
border: 3px double #1E140A;
display: block;
float: right;
margin-right: 20px;
padding: 20px;
margin-top: 20px;
margin-bottom: 20px;
}
#container .page_post .post .after {
clear: both;
text-align: center;
}
#container .page_post .post .after img {
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
}
#container .post.case img{
padding: 1px;
margin-top: 10px;
margin-bottom: 10px;
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
}
.post.case .caselink li {
background-image: url(../img/case00back.gif);
background-repeat: repeat-x;
float: left;
margin-left: 1px;
padding: 0px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #BD0000;
}
.post.case .caselink {
float: right;
width: 320px;
}

.post.case .caselink li a {
color: #FFF;
text-decoration: none;
display: block;
padding-top: 6px;
padding-bottom: 6px;
padding-right: 10px;
padding-left: 10px;
margin: 0px;
background-position: center center;
}

.page_post .post.case section> p{
margin-top:20px;
}

.contact_banner a {
background-image: url(../img/contactbanner.png);
display: block;
width: 100%;
height: 266px;
background-repeat: no-repeat;
background-position: center 0px;
clear: both;
}
.contact_banner a:hover {
background-position: center -266px;
}




/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CCAttribution-ShareAlike 2.5 Brazil - http://creativecommons.org/licenses/by-sa/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
position: absolute;
top: 0px;
left: 0;
z-index: 2100;
width: 100%;
height: 500px;
}
#jquery-lightbox {
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 2110;
text-align: center;
line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}